.auth-container {
  background-color: #ddebff;
  min-height: 100vh;
  width: 100vw;

  .auth-bg {
    position: fixed;
    display: block;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
    background-color: #0069db;
  }
}
