<div class="row mb-4">
  <div class="col-lg-12">
    <h5 class="card-title">Job Details</h5>
    <p class="text-light-color mb-4">
      Add your job details in below form.
    </p>
  </div>
</div>

<form [formGroup]="jobDetailsForm" (ngSubmit)="onSubmit()">
  <div class="row mt-4">
    <div class="col-lg-4">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="Enter Company Name"
          formControlName="companyName"
        />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" aria-describedby="Job Title" placeholder="Enter Job Title" formControlName="jobTitle" />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" aria-describedby="category" placeholder="Current Status" formControlName="jobCategory" />
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" aria-describedby="job link" placeholder="Enter Job link" formControlName="jobLink" />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          aria-describedby="job location"
          placeholder="Enter Job location"
          formControlName="jobLocation"
        />
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" aria-describedby="created date" placeholder="Date" formControlName="createdDate" />
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-6">
      <div class="form-group">
        <textarea
          type="text"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="Enter Job description"
          formControlName="jobDescription"
        ></textarea>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <textarea
          type="text"
          class="form-control"
          aria-describedby="Job Title"
          placeholder="Enter Additional note"
          formControlName="additionalNote"
        ></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col text-right">
      <button class="btn btn-success mt-4" type="submit">
        <span *ngIf="!loader">Save details</span>

        <ng-container *ngIf="loader">
          <div class="spinner-border text-light btn-icon-left" role="status">
            <span class="sr-only">Saving...</span>
          </div>

          <span>Saving...</span>
        </ng-container>
      </button>
    </div>
  </div>
</form>
