<div class="container sub-container" style="padding: 10rem 0;">
  <h5 class="card-title mb-4">Share options</h5>
  <form [formGroup]="resumeSettingsForm" (ngSubmit)="onSubmit()">
    <div class="row pt-4 pb-4">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="text-light-color">Unique CV ID</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              aria-describedby="customURL"
              placeholder="Enter Custom URL (Eg. emiliaparker)"
              formControlName="resumeId"
              aria-label="Recipient's username"
              maxlength="32"
              readonly
            />
            <!-- <div class="input-group-append">
              <button (click)="checkAvailabilty()" type="button" role="button" class="input-group-text btn-check">
                <span *ngIf="!checkLoader">Check availability </span>

                <ng-container *ngIf="checkLoader">
                  <div class="spinner-border text-primary btn-icon-left" role="status">
                    <span class="sr-only">Checking...</span>
                  </div>

                  <span>Checking...</span>
                </ng-container>
              </button>
            </div> -->

            <div class="input-group-append">
              <button (click)="copyToClipboard(userId)" type="button" role="button" class="input-group-text btn-check text-medium">
                Copy share link
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="resumeId.invalid && (resumeId.dirty || resumeId.touched)" class="text-hint">
          <div *ngIf="resumeId.errors.required">
            Resume Id is required.
          </div>
          <div *ngIf="!resumeId.errors.required && resumeId.invalid">
            Resume Id must contain 3-32 characters, number or alphabet. It must start with an alphabet.
          </div>
        </div>
      </div>
    </div>

    <hr class="pt-4 pb-4">

    <div class="mb-4">
      <h5 class="card-title mb-4">Privacy options</h5>

      <div class="row pt-4 mb-4">
        <div class="col">
          <label class="switch mr-4">
            <input type="checkbox" formControlName="hideBranding" />
            <span class="slider round"></span>
          </label>
          <span>Hide Branding</span>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col">
          <label class="switch mr-4">
            <input type="checkbox" formControlName="hideEmailAndPhone" />
            <span class="slider round"></span>
          </label>
          <span>Hide Email & Phone number</span>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col">
          <label class="switch mr-4">
            <input type="checkbox" formControlName="hideDownloadButton" />
            <span class="slider round"></span>
          </label>
          <span>Hide Print button</span>
        </div>
      </div>
    </div>

    <button class="btn btn-success float-left mt-xl-4">
      <span *ngIf="!loader">Save Details </span>
      <ng-container *ngIf="loader">
        <div class="spinner-border text-light btn-icon-left" role="status">
          <span class="sr-only">Saving...</span>
        </div>

        <span>Saving...</span>
      </ng-container>
    </button>
  </form>
</div>
