<div class="container sub-container" style="padding: 10rem 0;">
  <div class="row mb-4">
    <div class="col">
      <h5 class="card-title">Download Options</h5>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <button class="btn btn-primary mr-4">
        <img src="assets/icons/download-pdf.svg" class="mr-2" />Download Resume
        PDF
      </button>
    </div>
  </div>

  <hr style="margin: 3rem 0;" />

  <h5 class="card-title mb-4">Public resume</h5>
  <form [formGroup]="publicResumeForm" (ngSubmit)="onPublicResumeFormSubmit()">
    <div class="row pt-4 mb-4">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="text-light-color"
            >Enter resume name (only alphabets and numbers allowed)</label
          >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              aria-describedby="customURL"
              placeholder="Enter Custom URL (Eg. emiliaparker)"
              formControlName="resumeId"
              aria-label="Recipient's username"
            />
            <div class="input-group-append">
              <button
                (click)="checkAvailabilty()"
                type="button"
                role="button"
                class="input-group-text btn-check"
              >
                <span *ngIf="!checkLoader">Check availability </span>

                <ng-container *ngIf="checkLoader">
                  <div
                    class="spinner-border text-primary btn-icon-left"
                    role="status"
                  >
                    <span class="sr-only">Checking...</span>
                  </div>

                  <span>Checking...</span>
                </ng-container>
              </button>
            </div>

            <div class="message">
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-4 mb-4">
      <div class="col">
        <label class="switch mr-4">
          <input type="checkbox" formControlName="hideBranding" />
          <span class="slider round"></span>
        </label>
        <span>Hide Branding</span>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <label class="switch mr-4">
          <input type="checkbox" formControlName="hideEmailAndPhone" />
          <span class="slider round"></span>
        </label>
        <span>Hide Email & Phone number</span>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col">
        <button class="btn btn-success">
          <span *ngIf="!publicResumeLoader">
            <img class="btn-icon-left" src="assets/icons/save.svg" />Publish
          </span>

          <ng-container *ngIf="publicResumeLoader">
            <div class="spinner-border text-light btn-icon-left" role="status">
              <span class="sr-only">Publishing...</span>
            </div>

            <span>Publishing...</span>
          </ng-container>
        </button>
      </div>
    </div>
  </form>

  <div class="clearfix"></div>

  <hr style="margin: 3rem 0;" />

  <h5 class="card-title mb-4">Private resume</h5>

  <form
    [formGroup]="privateResumeForm"
    (ngSubmit)="onPrivateResumeFormSubmit()"
  >
    <div class="row pt-4 mb-4">
      <div class="col-lg-4">
        <div class="form-group">
          <label class="text-light-color"
            >Enter the name of company or the person sharing this resume
            with</label
          >
          <input
            type="text"
            class="form-control"
            aria-describedby="sharing with (company or person)"
            placeholder="Company or Person name"
            formControlName="sharingWith"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="btn btn-primary">
          <span *ngIf="!privateResumeLoader">
            <img class="btn-icon-left" src="assets/icons/save.svg" />Create
            private resume link
          </span>

          <ng-container *ngIf="privateResumeLoader">
            <div class="spinner-border text-light btn-icon-left" role="status">
              <span class="sr-only">Creating link</span>
            </div>

            <span>Creating link...</span>
          </ng-container>
        </button>
      </div>
    </div>
  </form>

  <div class="table-responsive pt-4 mt-4">
    <table class="table table-striped" style="min-width: 1024px;">
      <thead class="thead-dark">
        <tr>
          <th class="text-normal" scope="col">Resume Link</th>
          <th class="text-normal" scope="col">Sharing With</th>
          <th class="text-normal" scope="col">Created Date</th>
          <th class="text-normal" scope="col">Expiry Date</th>
          <th class="text-normal" scope="col">Copy Link</th>
          <th class="text-normal" scope="col">Stats</th>
          <th class="text-normal" scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of privateResumeList; let i = index">
          <tr>
            <td>
              <a href="" target="_blank">{{ item?.resumeId }}</a>
            </td>
            <td>{{ item?.sharingWith }}</td>
            <td>{{ item?.createdDate }}</td>
            <td>{{ item?.expiryDate }}</td>
            <td>
              <button
                class="no-btn btn-icon"
                (click)="copyToClipboard(item?.resumeId)"
              >
                <img src="assets/icons/copy.svg" />
              </button>
            </td>
            <td>
              <button class="no-btn btn-icon" (click)="openStatsPanel(i)">
                <img src="assets/icons/analytics.svg" />
              </button>
            </td>
            <td>
              <button class="no-btn btn-icon">
                <img src="assets/icons/delete.svg" />
              </button>
            </td>
          </tr>

          <tr *ngIf="item?.isOpened" style="background-color: #fff !important;">
            <td colspan="7" style="overflow: hidden !important;">
              <div class="row">
                <div class="col-3 p-2">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title text-normal text-extra-light-color">
                        TOTAL VIEWS
                      </h6>
                      <h3 class="card-text text-dark">20</h3>
                    </div>
                  </div>
                </div>

                <div class="col-3 p-2">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title text-normal text-extra-light-color">
                        TOTAL DOWNLOADS
                      </h6>
                      <h3 class="card-text text-dark">11</h3>
                    </div>
                  </div>
                </div>

                <div class="col-3 p-2">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title text-normal text-extra-light-color">
                        AVERAGE READ TIME
                      </h6>
                      <h3 class="card-text text-dark">2m 30s</h3>
                    </div>
                  </div>
                </div>

                <div class="col-3 p-2">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title text-normal text-extra-light-color">
                        LINKS SHARED
                      </h6>
                      <h3 class="card-text text-dark">5</h3>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
