<div class="container-fluid public-cv">
  <div class="container sub-container">
    <div class="row mb-4">
      <div class="col">
        <div class="float-right">
          <button class="btn btn-link mr-4" (click)="OpenChangeThemeDialog()">
            <img class="btn-icon-left" src="assets/icons/theme.svg" />Choose
            Theme
          </button>
          <button
            class="btn btn-primary mr-4"
            (click)="OpenChangeTemplateDialog()"
          >
            <img class="btn-icon-left" src="assets/icons/templates.svg" />
            Change Template
          </button>

          <button class="btn btn-success">
            <span *ngIf="!loader">
              <img class="btn-icon-left" src="assets/icons/save.svg" />Save
              Changes
            </span>
            <ng-container *ngIf="loader">
              <div
                class="spinner-border text-light btn-icon-left"
                role="status"
              >
                <span class="sr-only">Saving...</span>
              </div>

              <span>Saving...</span>
            </ng-container>
          </button>
        </div>
      </div>
    </div>

    <app-dynamic-template [data]="sendData"></app-dynamic-template>
  </div>
</div>
