<div class="container-fluid navbar">
  <div class="container">
    <div class="float-left text-white logo-container">
      <button class="btn-home no-btn" (click)="navigateTo('/home')">
        <img src="assets/icons/logo.svg" class="logo" />
        <span class="text-white">QuickResume</span>
      </button>
    </div>
    <div class="float-right">
      <ul class="nav-menu mr-4">
        <ng-container *ngFor="let route of pageNavigationList">
          <li>
            <a routerLink="{{ route?.routeLink }}" [fragment]="route?.fragmentName">
              {{ route?.routeLabel }}
            </a>
          </li>
        </ng-container>
        <li *ngIf="!isLoggedIn">
          <a (click)="navigateTo('/auth/login')" routerLinkActive="page-navigation-active">
            Login
          </a>
        </li>
      </ul>

      <button class="btn btn-nav" *ngIf="!isLoggedIn" (click)="navigateTo('/auth/signup')">
        Sign Up
      </button>

      <button class="btn btn-nav" *ngIf="isLoggedIn" (click)="navigateTo('/dashboard')">
        Go to dashboard
      </button>
    </div>
  </div>
</div>
