.navbar {
  height: 4rem;
  background-color: #0069db;
  position: fixed;
  display: block;
  z-index: 1000;
  border-bottom: 1px solid #fff;
}

.nav-menu {
  display: inline-block;
  margin-bottom: 0;

  li {
    list-style-type: none;
    display: inline-block;
    color: #fff;
    padding: 1.25rem;
  }

  a {
    color: #fff;
    cursor: pointer;
  }
}

.btn-home {
  cursor: pointer;
  outline: none;
}

.btn.btn-nav {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #fff;
  padding: 0.25rem 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #0069db;
  border-radius: 0.25rem;
  background-color: #fff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 0.5rem !important;

  &:hover {
    background-color: #0069db;
    color: #fff;
  }
}

.page-navigation-active {
  border-bottom: 2px solid #fff;
}

.logo {
  margin-right: 1rem;
}

.logo-container {
  padding: 1rem 0;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}
