<div class="container-fluid navbar">
  <div class="container nav-menu">
    <div class="logo-container">
      <button class="btn-home no-btn" (click)="navigateTo('/home')">
        <img class="logo" src="assets/images/logo.svg" />
      </button>
    </div>

    <ul class="page-navigation-list">
      <ng-container *ngFor="let route of pageNavigationList">
        <li class="page-navigation-item">
          <a
            class="page-navigation-link btn btn-light"
            routerLink="{{ route?.routeLink }}"
            routerLinkActive="page-navigation-active"
            [routerLinkActiveOptions]="{ exact: true }"
            [fragment]="route?.fragmentName"
          >
            {{ route?.routeLabel }}
          </a>
        </li>
      </ng-container>
    </ul>

    <div>
      <a
        *ngIf="!isLoggedIn"
        class="btn  btn-light"
        style="margin-right: 0.5rem;"
        (click)="navigateTo('/auth/login')"
        routerLinkActive="page-navigation-active"
      >
        Login
      </a>

      <button class="btn  btn-success" *ngIf="!isLoggedIn" (click)="navigateTo('/auth/signup')">
        Sign Up
      </button>

      <button class="btn  btn-success" *ngIf="isLoggedIn" (click)="navigateTo('/dashboard')">
        Go to dashboard
      </button>
    </div>
  </div>
</div>
