<div class="card authentication-card">
  <div class="card-body">
    <h5 class="card-title">Sign up to create account</h5>

    <div class="form-group">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
      />
    </div>
    <button class="btn btn-success">Sign up</button>

    <div class="card-text">
      <a routerLink="/auth/login">Already have an account? Log in</a>
    </div>
  </div>
</div>
