<div
  class="container-fluid"
  style="padding: 9rem 0;"
  [ngStyle]="{ 'background-color': sendData?.styleSettings?.cvBackgroundColor }"
>
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <div class="float-right">
          <button class="btn btn-link mr-4" (click)="OpenChangeThemeDialog()">
            <img class="btn-icon" src="assets/icons/theme.svg" />Choose Theme
          </button>
          <button class="btn btn-success" (click)="OpenChangeTemplateDialog()">
            <img class="btn-icon" src="assets/icons/templates.svg" />
            Change Template
          </button>
        </div>
      </div>
    </div>

    <app-dynamic-template [data]="sendData"></app-dynamic-template>
  </div>
</div>
