<div
  class="container-fluid"
  style="background-color: #ddebff; padding: 9rem 0;"
>
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <div class="float-right">
          <button
            class="btn btn-secondary"
            (click)="OpenChangeTemplateDialog()"
          >
            <img src="assets/icons/templates.svg" />&nbsp; Change Template
          </button>
        </div>
      </div>
    </div>

    <app-dynamic-template [data]="sendData"></app-dynamic-template>
  </div>
</div>
