<div class="template-container template-modern">
  <div class="template-content">
    <div class="row">
      <div class="col">
        <ng-container *ngFor="let about of data?.aboutSection">
          <h1>
            {{ about?.firstName | uppercase }}
            {{ about?.lastName | uppercase }}
          </h1>
          <p class="text-light-color">
            {{ about?.jobTitle }}
          </p>
        </ng-container>
      </div>
    </div>

    <div class="row pt-4 mb-4">
      <div class="col-lg-8">
        <h6
          class="mb-4 text-normal"
          [ngStyle]="{
            color: data?.resumeSettings?.themeColor | themeColor
          }"
        >
          SUMMARY
        </h6>

        <section
          class="text-dark-color mb-4"
          [ngStyle]="{
            'border-left-color': data?.resumeSettings?.themeColor | themeColor
          }"
        >
          {{ (data?.aboutSection)[0]?.summary }}
        </section>

        <h6
          *ngIf="(data?.workExperienceSection)[0]?.employerName"
          class="pt-4 mb-4 text-normal"
          [ngStyle]="{
            color: data?.resumeSettings?.themeColor | themeColor
          }"
        >
          WORK EXPERIENCE
        </h6>

        <section
          [ngStyle]="{
            'border-left-color': data?.resumeSettings?.themeColor | themeColor
          }"
        >
          <ng-container *ngFor="let employer of data?.workExperienceSection">
            <h5 class="text-dark-color text-medium">
              {{ employer?.employerName }}
            </h5>
            <p class="text-light-color mb-16">
              {{ employer?.jobTitle }} | {{ employer?.startDate }} -
              {{ employer?.endDate }} | {{ employer?.employmentType }}
            </p>

            <p class="text-normal">
              {{ employer?.summary }}
            </p>

            <ul>
              <li *ngIf="employer?.point1">{{ employer?.point1 }}</li>
              <li *ngIf="employer?.point2">{{ employer?.point2 }}</li>
              <li *ngIf="employer?.point3">{{ employer?.point3 }}</li>
            </ul>
          </ng-container>
        </section>

        <div class="clearfix"></div>

        <h6
          *ngIf="(data?.educationSection)[0]?.schoolName"
          class="pt-4 mb-4 text-normal"
          [ngStyle]="{
            color: data?.resumeSettings?.themeColor | themeColor
          }"
        >
          EDUCATION
        </h6>
        <section
          [ngStyle]="{
            'border-left-color': data?.resumeSettings?.themeColor | themeColor
          }"
        >
          <ng-container *ngFor="let school of data?.educationSection">
            <h5 class="text-dark-color text-medium">
              {{ school?.schoolName }}
            </h5>
            <p class="text-light-color mb-16">
              {{ school?.degree }} | {{ school?.startDate }} -
              {{ school?.endDate }}
            </p>

            <p class="text-dark-color">
              {{ school?.summary }}
            </p>
          </ng-container>
        </section>

        <div class="clearfix"></div>

        <h6
          *ngIf="(data?.projectsSection)[0]?.projectName"
          class="pt-4 mb-4 text-normal"
          [ngStyle]="{
            color: data?.resumeSettings?.themeColor | themeColor
          }"
        >
          PROJECTS
        </h6>

        <section
          [ngStyle]="{
            'border-left-color': data?.resumeSettings?.themeColor | themeColor
          }"
        >
          <ng-container *ngFor="let project of data?.projectsSection">
            <h5 class="text-dark-color text-medium">
              {{ project?.projectName }}
            </h5>
            <p class="text-light-color mb-16">
              {{ project?.role }} | {{ project?.startDate }} -
              {{ project?.endDate }}
            </p>

            <p class="text-dark-color">
              {{ project?.summary }}
            </p>

            <ul>
              <li *ngIf="project?.point1">{{ project?.point1 }}</li>
              <li *ngIf="project?.point2">{{ project?.point2 }}</li>
              <li *ngIf="project?.point3">{{ project?.point3 }}</li>
            </ul>
          </ng-container>
        </section>
      </div>

      <div class="clearfix"></div>

      <div class="col-lg-4">
        <h6
          class="mb-4 text-normal"
          [ngStyle]="{
            color: data?.resumeSettings?.themeColor | themeColor
          }"
        >
          CONTACT INFO
        </h6>

        <section
          [ngStyle]="{
            'border-left-color': data?.resumeSettings?.themeColor | themeColor
          }"
        >
          <div class="mb-4">
            <span class="d-block text-extra-light-color">Address</span>
            <span class="d-block"
              >{{ (data?.aboutSection)[0]?.city }},
              {{ (data?.aboutSection)[0]?.state }}
            </span>
          </div>

          <div
            class="mb-4"
            *ngIf="data?.resumeSettings?.hideEmailAndPhone == false"
          >
            <span class="d-block text-extra-light-color">Email</span>
            <span class="d-block">{{ (data?.aboutSection)[0]?.emailId }}</span>
          </div>

          <div class="mb-4">
            <span class="d-block text-extra-light-color">Website</span>
            <span class="d-block"> {{ (data?.aboutSection)[0]?.website }}</span>
          </div>

          <div
            class="mb-4"
            *ngIf="data?.resumeSettings?.hideEmailAndPhone == false"
          >
            <span class="d-block text-extra-light-color">Phone number</span>
            <span class="d-block">
              {{ (data?.aboutSection)[0]?.phoneNumber }}
            </span>
          </div>
        </section>

        <div class="clearfix"></div>

        <h6
          *ngIf="(data?.projectsSection)[0]?.projectName"
          class="pt-4 mb-4 text-normal"
          [ngStyle]="{
            color: data?.resumeSettings?.themeColor | themeColor
          }"
        >
          SKILLS
        </h6>

        <section
          [ngStyle]="{
            'border-left-color': data?.resumeSettings?.themeColor | themeColor
          }"
        >
          <ul class="skill-list">
            <ng-container *ngFor="let skill of data?.skillsSection">
              <li *ngIf="skill?.skillName">
                {{ skill?.skillName }}
              </li>
            </ng-container>
          </ul>
        </section>

        <h6
          *ngIf="(data?.languagesSection)[0]?.languageName"
          class="pt-4 mb-4 text-normal"
          [ngStyle]="{
            color: data?.resumeSettings?.themeColor | themeColor
          }"
        >
          LANGUAGES
        </h6>

        <section
          [ngStyle]="{
            'border-left-color': data?.resumeSettings?.themeColor | themeColor
          }"
        >
          <ng-container *ngFor="let language of data?.languagesSection">
            <div class="mb-4">
              <span class="d-block"> {{ language?.languageName }}</span>
              <span class="d-block text-extra-light-color">{{
                language?.proficiency
              }}</span>
            </div>
          </ng-container>
        </section>

        <h6
          *ngIf="(data?.awardsSection)[0]?.awardName"
          class="pt-4 mb-4 text-normal"
          [ngStyle]="{
            color: data?.resumeSettings?.themeColor | themeColor
          }"
        >
          AWARDS
        </h6>

        <section
          [ngStyle]="{
            'border-left-color': data?.resumeSettings?.themeColor | themeColor
          }"
        >
          <ng-container *ngFor="let award of data?.awardsSection">
            <div class="mb-4">
              <h5 class="d-block">{{ award?.awardName }}</h5>
              <span class="d-block text-extra-light-color mb-4">{{
                award?.awardDate
              }}</span>
              <span class="d-block text-normal">{{ award?.summary }}</span>
            </div>
          </ng-container>
        </section>
      </div>
    </div>
  </div>
</div>
