<div class="card authentication-card">
  <div class="card-body">
    <h5 class="card-title">Forgot your account password</h5>

    <div class="form-group">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>

    <button class="btn btn-success">Send password reset email</button>
    <div class="card-text">
      <a routerLink="/auth/login">Remember password? Log in</a>
    </div>
  </div>
</div>
