<div class="container sub-container" style="padding: 8rem 0;">
  <div class="card authentication-card">
    <div class="card-body">
      <h5 class="card-title">Forgot your account password</h5>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()">
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="emailId"
            aria-describedby="emailHelp"
            placeholder="Enter email address"
            formControlName="emailId"
          />
          <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="text-hint">
            <span *ngIf="emailId.errors.required">Email address is required. </span>
            <span *ngIf="emailId.invalid">Invalid email address format.</span>
          </div>
        </div>

        <button class="btn btn-success">
          <span *ngIf="!loader">Get password reset email</span>
          <div *ngIf="loader" class="spinner-border text-light" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </form>

      <div class="card-text">
        <a routerLink="/auth/login">Remember password? Log in</a>
      </div>
    </div>
  </div>
</div>
