// default color palette
$primary-color: #3070d4;
$secondary-color: #EAF1FB;
$tertiary-color-hover: #0247bb;
$page-background-color: #FFF;
$text-color: #293239;
$text-light-color: #999;
$page-header-text-color: #2b343b;
$top-navigation-border-color: #EAEAEA;

// custom score color palette
$good-score-color: #1d811e;
$average-score-color: #293239;
$bad-score-color: #ce0100;

// common color palette
$white-color: #ffffff;
$black-color: #000000;
$grey-color: #333333;


$button-border-color: #a5aaaf;
$dropdown-background-color: #e2e4e6;
$dropdown-active-color: #2d8ed9;
$logo-font-color: #5b6770;
$popover-background-color: #5b6770;
$btn-watch-border-color: #ccc;
