// default variables
$default-page-container-width: 1024px;

$default-font-family: 'Ubuntu';
$default-font-size: 16px;
$default-font-weight: 400;
$default-font-style: normal;
$default-font-stretch: normal;
$default-line-height: normal;
$default-letter-spacing: normal;

