<div class="row">
  <div class="col">
    <h5>Select Template</h5>
    <p class="text-light-color">
      Choose a template that suits you.
    </p>
  </div>
</div>

<div class="row">
  <ng-container *ngFor="let template of templateList">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
      <div
        role="button"
        class="template-card"
        (click)="selectedTemplate(template?.templateName)"
      >
        <img
          class="template-image d-block mb-4"
          [src]=""
        />
        <p class="text-center text-medium text-primary">
          {{ template?.templateName | titlecase }}
        </p>

        <div
          class="selected-item"
          *ngIf="selectedTemplateName === template?.templateName"
        >
          <img src="assets/icons/save.svg" class="mr-2" />
        </div>
      </div>
    </div>
  </ng-container>
</div>
