.template-image {
  min-height: 40rem;
  max-height: 40rem;
  width: 100%;
  outline: none;
  border: 2px solid #ddd;
  border-radius: 0.25rem;
  &:hover {
    border-color: #5d3fd3;
  }
}

.template-card {
  margin-bottom: 3rem;
  cursor: pointer;
  overflow: hidden;
}

.selected-item {
  background-color: #5d3fd3;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  color: #fff;
  top: 45%;
  left: 50%;
  text-align: center;
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
