.branding {
  position: relative;
  text-align: right;
  font-size: 0.875rem;

  .branding-link {
    font-weight: 500;
    color: #0069db;
  }
}

.resume-container {
  background-color: #f1f7f9 !important;
  padding: 6rem 0;
}
