.branding {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.resume-container {
  background-color: #f2f4f6;
  padding: 6rem 0;
}

.logo-container {
  padding: 1rem !important;
  min-width: 120px;
  margin-bottom: 1.5rem;
  .logo {
    max-width: 120px;
    max-height: 48px;
  }
}

@media print {
  .resume-action,
  .logo-container {
    display: none !important;
  }
}

.btn-download,
.btn-share {
  border-radius: 50%;
  width: 3rem !important;
  height: 3rem;
  padding: 0 !important;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-download {
  right: 1.5rem;
  bottom: 1.5rem;
}

.btn-share {
  right: 1.5rem;
  bottom: 5rem;
}

@media screen and (max-width: 640px) {
  .btn-download {
    bottom: 0rem;
  }

  .btn-share {
    bottom: 4rem;
  }
}
