<div class="container-fluid resume-container">
  <div class="container sub-container">
    <app-dynamic-template [data]="sendData"></app-dynamic-template>
    <div class="row pt-4">
      <div class="col-lg-6">
        <button
          class="btn btn-light mr-4"
          title="Download resume"
          (click)="downloadResume()"
        >
          <img src="assets/icons/download.svg" />
        </button>
        <button
          class="btn btn-light"
          title="Share resume"
          (click)="shareResume()"
        >
          <img src="assets/icons/share.svg" />
        </button>
      </div>
      <div class="col-lg-6">
        <div class="branding text-right">
          <button
            *ngIf="sendData?.resumeSettings?.hideBranding == false"
            class="btn btn-light text-light-color"
            (click)="navigateToRoute('/home')"
            title="Visit CloudCV"
          >
            Made with
            <span class="text-primary">CloudCV</span>
          </button>

          <button
            class="btn btn-light text-primary ml-4"
            title="Visit CloudCV"
          >
            Give Feedback
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
