<div id="print-block" class="container-fluid resume-container">
  <div class="container sub-container">
    <div class="skeleton-loader" style="height: 960px;" *ngIf="loader"></div>

    <app-dynamic-template [data]="data" [ngStyle]="{ display: loader ? 'none' : 'block' }"></app-dynamic-template>
    <div class="row pt-4 resume-action">
      <div class="col-lg-6">
        <button
          *ngIf="isUserLoggedIn"
          class="btn btn-light btn-back"
          (click)="navigateToPreview()"
          aria-label="Back to Preview"
          data-microtip-position="right"
          role="tooltip"
        >
          <span class="material-icons text-primary">keyboard_backspace</span>
        </button>
        <button
          class="btn btn-light btn-download"
          (click)="printResume()"
          aria-label="Print Resume"
          data-microtip-position="left"
          role="tooltip"
        >
          <span class="material-icons text-primary">print</span>
        </button>
        <button
          class="btn btn-light btn-share"
          (click)="shareResume()"
          aria-label="Share Resume"
          data-microtip-position="left"
          role="tooltip"
        >
          <span class="material-icons text-primary">share</span>
        </button>
      </div>
      <div class="col-lg-12" *ngIf="!data?.resumeSettings?.hideBranding">
        <a href="https://simplecv.vercel.app" target="_blank" class="branding logo-container">
          <img class="logo" src="assets/images/logo-gray.svg" />
        </a>
      </div>
    </div>
  </div>
</div>
