<div class="container-fluid">
  <div class="mobile-navigation">
    <div class="float-left"><img src="" /> CloudCV</div>
    <div class="float-right"></div>
  </div>

  <ul class="top-navigation-list">
    <div class="container">
      <li class="top-navigation-item" *ngFor="let route of topNavigationRoutes">
        <a
          class="top-navigation-link"
          routerLink="{{ route?.routeLink }}"
          routerLinkActive="top-navigation-active"
        >
          {{ route?.routeLabel }}
        </a>
      </li>
    </div>
  </ul>
</div>
