<div class="container-fluid">
  <ul class="top-navigation-list">
    <div class="container">
      <li class="top-navigation-item">
        <a
          class="top-navigation-link"
          [routerLink]="['editor']"
          routerLinkActive="top-navigation-active"
        >
          EDITOR
        </a>
      </li>
      <li class="top-navigation-item">
        <a
          class="top-navigation-link"
          [routerLink]="['preview']"
          routerLinkActive="top-navigation-active"
        >
          PREVIEW
        </a>
      </li>
      <li class="top-navigation-item">
        <a
          class="top-navigation-link"
          [routerLink]="['share']"
          routerLinkActive="top-navigation-active"
        >
          SHARE
        </a>
      </li>
    
    </div>
  </ul>
</div>
