<div class="container-fluid public-cv">
  <app-dynamic-template [data]="sendData"></app-dynamic-template>

  <div class="container">
    <div class="row pt-4">
      <div class="col-lg-6">
        <button
          class="btn btn-light mr-4"
          title="Download CV"
          (click)="downloadCV()"
        >
          <img src="assets/icons/download.svg" />
        </button>
        <button class="btn btn-light" title="Share CV" (click)="shareCV()">
          <img src="assets/icons/share.svg" />
        </button>
      </div>
      <div class="col-lg-6">
        <div class="branding text-right">
          <button
            class="btn btn-light text-light-color"
            (click)="navigateToRoute('/home')"
            title="Visit CloudCV"
          >
            Powered by
            <img src="assets/icons/logo.svg" class="btn-icon-left" />
            <span class="text-primary">CloudCV</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
