<div class="row">
  <div class="col">
    <h5>Choose Theme Color</h5>
    <p class="text-light-color">
      Select any of the colors below to apply theme.
    </p>
  </div>
</div>

<div class="row">
  <ng-container *ngFor="let theme of themeList">
    <div class="col-lg-3 col-sm-4 col-md-4 col-xs-6">
      <button
        class="btn btn-theme"
        [ngStyle]="{ 'background-color': theme?.value }"
        (click)="selectedTheme(theme?.value)"
      >
      <img *ngIf="theme?.value == selectedThemeColor" src="assets/icons/save.svg">
    </button>
    </div>
  </ng-container>
</div>
