<div class="container sub-container" style="padding: 8rem 0;">
  <div class="card authentication-card">
    <div class="card-body">
      <h5 class="card-title">Login to your account</h5>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="emailId"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            formControlName="emailId"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            id="passwordText"
            placeholder="Password"
            formControlName="password"
          />
        </div>

        <div class="card-text mb-4">
          <a routerLink="/auth/forgot-password">Forgot password?</a>
        </div>

        <button class="btn btn-success">
          <span *ngIf="!loader">Login</span>
          <div *ngIf="loader" class="spinner-border text-light" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </form>

      <div class="text-center text-light-color divider">OR</div>

      <button class="btn btn-danger" (click)="loginWithGoogle()">
        <span *ngIf="!googleLoader"
          ><img class="btn-icon-left" src="assets/icons/google.svg" />Login with
          Google</span
        >
        <div
          *ngIf="googleLoader"
          class="spinner-border text-light"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </button>

      <div class="card-text mt-4">
        <a routerLink="/auth/signup">Don't have an account? Sign up</a>
      </div>
    </div>
  </div>
</div>
