<div class="template-container template-modern">
  <div class="template-content">
    <div class="row mb-4">
      <div class="col">
        <h2 class="text-dark-color text-bold" *ngIf="data?.aboutSection">
          {{ (data?.aboutSection)[0]?.firstName }}
          {{ (data?.aboutSection)[0]?.lastName }}
        </h2>
        <p class="text-light-color">
          {{ (data?.aboutSection)[0]?.jobTitle }}
        </p>

        <p class="text-light-color">
          {{ (data?.aboutSection)[0]?.city }},
          {{ (data?.aboutSection)[0]?.state }} |
          {{ (data?.aboutSection)[0]?.website }} |
          <span *ngIf="data?.resumeSettings?.hideEmailAndPhone == false"
            >| {{ (data?.aboutSection)[0]?.phoneNumber }} |
            {{ (data?.aboutSection)[0]?.emailId }}</span
          >
        </p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <h6
          class="mb-4"
          [ngStyle]="{
            color: data?.resumeStyles?.themeColor,
            'border-bottom-color': data?.resumeStyles?.themeColor
          }"
        >
          SUMMARY
        </h6>

        <p class="text-dark-color">
          {{ (data?.aboutSection)[0]?.summary }}
        </p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <h6
          class="mb-4"
          [ngStyle]="{
            color: data?.resumeStyles?.themeColor,
            'border-bottom-color': data?.resumeStyles?.themeColor
          }"
        >
          WORK EXPERIENCE
        </h6>

        <ng-container *ngFor="let employer of data?.workExperienceSection">
          <h5 class="pt-4 text-dark-color text-bold">
            {{ employer?.employerName }}
          </h5>
          <p class="text-light-color mb-16">
            {{ employer?.jobTitle }} | {{ employer?.startDate }} -
            {{ employer?.endDate }} | {{ employer?.employmentType }}
          </p>

          <p class="text-normal">
            {{ employer?.summary }}
          </p>

          <ul>
            <li *ngIf="employer?.point1">{{ employer?.point1 }}</li>
            <li *ngIf="employer?.point2">{{ employer?.point2 }}</li>
            <li *ngIf="employer?.point3">{{ employer?.point3 }}</li>
          </ul>
        </ng-container>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <h6
          class="mb-4"
          [ngStyle]="{
            color: data?.resumeStyles?.themeColor,
            'border-bottom-color': data?.resumeStyles?.themeColor
          }"
        >
          EDUCATION
        </h6>

        <ng-container *ngFor="let school of data?.educationSection">
          <h5 class="text-dark-color text-bold">
            {{ school?.schoolName }}
          </h5>
          <p class="text-light-color mb-16">
            {{ school?.degree }} | {{ school?.startDate }} -
            {{ school?.endDate }}
          </p>

          <p class="text-dark-color">
            {{ school?.summary }}
          </p>
        </ng-container>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <h6
          class="mb-4"
          [ngStyle]="{
            color: data?.resumeStyles?.themeColor,
            'border-bottom-color': data?.resumeStyles?.themeColor
          }"
        >
          PROJECTS
        </h6>

        <ng-container *ngFor="let project of data?.projectsSection">
          <h5 class="text-dark-color text-bold">
            {{ project?.projectName }}
          </h5>
          <p class="text-light-color mb-16">
            {{ project?.role }} | {{ project?.startDate }} -
            {{ project?.endDate }}
          </p>

          <p class="text-dark-color">
            {{ project?.summary }}
          </p>

          <ul>
            <li *ngIf="project?.point1">{{ project?.point1 }}</li>
            <li *ngIf="project?.point2">{{ project?.point2 }}</li>
            <li *ngIf="project?.point3">{{ project?.point3 }}</li>
          </ul>
        </ng-container>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <h6
          class="mb-4"
          [ngStyle]="{
            color: data?.resumeStyles?.themeColor,
            'border-bottom-color': data?.resumeStyles?.themeColor
          }"
        >
          SKILLS
        </h6>

        <ul class="skill-list">
          <li *ngFor="let skill of data?.skillsSection">
            {{ skill?.skillName }},&nbsp;
          </li>
        </ul>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <h6
          class="mb-4"
          [ngStyle]="{
            color: data?.resumeStyles?.themeColor,
            'border-bottom-color': data?.resumeStyles?.themeColor
          }"
        >
          LANGUAGES
        </h6>

        <div class="row">
          <ng-container *ngFor="let language of data?.languagesSection">
            <div class="mb-4 col-lg-4">
              <span class="d-block"> {{ language?.languageName }}</span>
              <span class="d-block text-extra-light-color">{{
                language?.proficiency
              }}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <h6
          class="mb-4"
          [ngStyle]="{
            color: data?.resumeStyles?.themeColor,
            'border-bottom-color': data?.resumeStyles?.themeColor
          }"
        >
          AWARDS
        </h6>

        <ng-container *ngFor="let award of data?.awardsSection">
          <div class="mb-4">
            <h5 class="d-block">{{ award?.awardName }}</h5>
            <span class="d-block text-extra-light-color mb-4">{{
              award?.awardDate
            }}</span>
            <span class="d-block text-normal">{{ award?.summary }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
