.btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  background-color: inherit;
  border-radius: 3px;
  cursor: pointer;
}

.btn-primary {
  border: 1px solid $button-border-color;
  color: $primary-color;

  &:hover {
    background-color: $page-background-color;
  }
}

.btn-secondary {
  border: 1px solid $button-border-color;
  color: $primary-color;

  &:hover {
    background-color: $white-color;
  }
}

.btn-tertiary {
  border: 1px solid $primary-color;
  background-color: $primary-color;
  color: $white-color;

  &:hover {
    background-color: $tertiary-color-hover;
  }
}

.btn-ghost {
  border: none;
  color: $primary-color;

  &:hover {
    text-decoration: none;
    background-color: $page-background-color;
    border: 1px soid $page-background-color;
  }
}

.btn-watch {
  border-radius: 20px;
  box-shadow: none;
  border: 1px solid $btn-watch-border-color;
  font-weight: normal;
  font-size: 14px;
  padding: 5px 10px;
  width: 100px;
}

.btn-plus {
  padding: 0px !important;
  font-size: 20px;
  width: 30px;
  text-align: center;
  outline: none;
}

.btn-icon {
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle;
}
