.page-card-container {
  @include inherit-font-face();
  position: relative;
  display: block;
  height: auto;
  padding: 25px;
  background-color: $white-color;
  border-radius: 2px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  clear: both;
  overflow: hidden;

  .page-card-header {
    margin-bottom: 20px;
  }

  .page-card-body {
    margin-bottom: 20px;
  }

  .page-card-footer {
    position: relative;
    bottom: 0;
  }
}
