* {
  box-sizing: border-box;
}

html,
body {
  font-family: $default-font-family;
  background-color: $page-background-color;
  overflow-x: hidden;
}

.row-no-gutter {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.text-normal {
  font-weight: normal !important;
}

.text-bold {
  font-weight: bold !important;
}

.text-light {
  font-weight: lighter !important;
}

.text-center {
  text-align: center;
}

.no-btn {
  border: none;
  background: none;
  outline: none;
}

.text-dark-color {
  color: #333;
}

.text-light-color {
  color: #666;
}

.text-extra-light-color {
  color: #999;
}

p {
  font-size: 1rem !important;
}

