* {
  box-sizing: border-box;
}

html,
body {
  font-family: $default-font-family;
  background-color: $page-background-color;
  overflow-x: hidden;
}

.row-no-gutter {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.text-normal {
  font-weight: normal !important;
}

.text-bold {
  font-weight: bold !important;
}

.text-light {
  font-weight: lighter !important;
}

.text-center {
  text-align: center;
}

.no-btn {
  border: none;
  background: none;
  outline: none;
}

.text-white {
  color: #fff;
}

.text-dark-color {
  color: #212121;
}

.text-light-color {
  color: #565656;
}

.text-extra-light-color {
  color: #999;
}

p {
  font-size: 1.1rem !important;
}

.text-small {
  font-size: 0.875rem !important;
}

.btn-icon {
  border-radius: 50%;
  cursor: pointer !important;
}

.btn-icon-left {
  margin-right: 0.5rem;
}

.btn-icon-right {
  margin-left: 0.5rem;
}

.page-container {
  margin-left: 5rem;
}

.desktop {
  display: block;
  min-height: 4rem;
}

.mobile {
  display: none;
}

@media (max-width: 1280px) {
  .page-container {
    margin-left: 0;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@media (max-width: 640px) {
  .sub-container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

@media (max-width: 480px) {
  .btn {
    width: 100% !important;
    margin-bottom: 1rem !important;
  }
}
