.side-navigation {
  position: fixed;
  width: 5rem;
  display: block;
  height: 100vh;
  background-color: $primary_color;
  transition: width 0.3s ease;
  overflow: hidden;
  color: $white-color;
  z-index: $zindex-side-navigation;
  top: 0;
  bottom: 0;
  left: 0;

  &:hover {
    width: 15rem;
  }

  .navigation-list {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 8rem 0;
    padding-left: 0 !important;

    .navigation-item {
      display: block;
      position: relative;
      overflow: hidden;
      word-wrap: break-word;
      white-space: nowrap;
      margin: 1rem 0;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }

      .navigation-link {
        position: relative;
        display: inline-block;
        cursor: pointer;
        font-weight: 500;
        padding: 1rem 1.75rem;
        color: $white-color;
        text-decoration: none;
        width: 100%;
      }

      .navigation-text {
        position: relative;
        vertical-align: middle;
        padding-left: 1.75rem;
        text-transform: capitalize;
        font-size: $anchor-font-size;
      }
    }
  }
}

.side-navigation-active {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 1280px) {
  .side-navigation {
    width: 15rem;
    transform: translateX(-15rem);
  }
}
