.snackbar {
  display: block;
  width: 20rem;
  min-height: 48px;
  border-radius: 0.15rem;
  position: fixed;
  z-index: 1000;
  font-size: 0.875rem;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  font-family: $default-font-family;
  overflow: hidden;
}

.snackbar-message {
  display: block;
  padding: 15px;
  word-wrap: wrap;
  white-space: wrap;
}

.snackbar-title {
  display: block;
  text-transform: uppercase;
}

.snackbar-bottom-center {
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

/* background colors */

.snackbar-dark {
  background-color: $black-color;
  color: #fff;
}

.snackbar-title.success {
  color: #28a745;
}

.snackbar-title.error {
  color: red;
}
