.template-container {
  position: relative;
  display: block;
  overflow: hidden;
  min-height: 64rem;
  max-width: 64rem;
  background-color: $white-color;
  font-size: 1rem;
  margin: 0 auto;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);

  .template-content {
    margin: 5rem;

    .text-dark-color {
      color: #333;
    }

    .text-light-color {
      color: #666;
    }

    .text-extra-light-color {
      color: #999;
    }
  }
}
