.template-container {
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 64rem;
    max-width: 64rem;
    background-color: $white-color;
    font-size: 1rem;
    margin: 10rem auto;

    .template-content {
        margin: 5rem;

        .text-dark {
            color: #333;
        }

        .text-light {
            color: #666;
        }
    }
}