<div class="template-container template-modern">
  <div class="template-content">
    <div class="row mb-4">
      <div class="col-lg-3"></div>
      <div class="col-lg-9">
        <h2 class="text-dark-color text-medium" *ngIf="data?.aboutSection">
          {{ (data?.aboutSection)[0]?.firstName }}
          {{ (data?.aboutSection)[0]?.lastName }}
        </h2>
        <p class="text-light-color">
          {{ (data?.aboutSection)[0]?.jobTitle }}
        </p>

        <p class="text-light-color">
          {{ (data?.aboutSection)[0]?.city }},
          {{ (data?.aboutSection)[0]?.state }} |
          {{ (data?.aboutSection)[0]?.emailId }} |
          {{ (data?.aboutSection)[0]?.website }} |
          {{ (data?.aboutSection)[0]?.phoneNumber }}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <h6
          class="mb-4 text-orientation"
          [ngStyle]="{
            color: data?.styleSettings?.themeColor,
            'border-bottom-color': data?.styleSettings?.themeColor
          }"
        >
          SUMMARY
        </h6>
      </div>
      <div
        class="col-lg-9 section-right"
        [ngStyle]="{
          'border-left-color': data?.styleSettings?.themeColor
        }"
      >
        <p class="text-dark-color">
          {{ (data?.aboutSection)[0]?.summary }}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <h6
          *ngIf="(data?.workExperienceSection)[0]?.employerName"
          class="mb-4 text-orientation"
          [ngStyle]="{
            color: data?.styleSettings?.themeColor,
            'border-bottom-color': data?.styleSettings?.themeColor
          }"
        >
          WORK EXPERIENCE
        </h6>
      </div>
      <div
        class="col-lg-9 section-right"
        [ngStyle]="{
          'border-left-color': data?.styleSettings?.themeColor
        }"
      >
        <ng-container *ngFor="let employer of data?.workExperienceSection">
          <h5 class="text-dark-color text-medium">
            {{ employer?.employerName }}
          </h5>
          <p class="text-light-color mb-16">
            {{ employer?.jobTitle }} | {{ employer?.startDate }} -
            {{ employer?.endDate }} | {{ employer?.employmentType }}
          </p>

          <p class="text-normal">
            {{ employer?.summary }}
          </p>

          <ul>
            <li *ngIf="employer?.point1">{{ employer?.point1 }}</li>
            <li *ngIf="employer?.point2">{{ employer?.point2 }}</li>
            <li *ngIf="employer?.point3">{{ employer?.point3 }}</li>
          </ul>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <h6
          class="mb-4 text-orientation"
          [ngStyle]="{
            color: data?.styleSettings?.themeColor,
            'border-bottom-color': data?.styleSettings?.themeColor
          }"
        >
          EDUCATION
        </h6>
      </div>
      <div
        *ngIf="(data?.educationSection)[0]?.schoolName"
        class="col-lg-9 section-right"
        [ngStyle]="{
          'border-left-color': data?.styleSettings?.themeColor
        }"
      >
        <ng-container *ngFor="let school of data?.educationSection">
          <h5 class="text-dark-color text-medium">
            {{ school?.schoolName }}
          </h5>
          <p class="text-light-color mb-16">
            {{ school?.degree }} | {{ school?.startDate }} -
            {{ school?.endDate }}
          </p>

          <p class="text-dark-color">
            {{ school?.summary }}
          </p>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <h6
          *ngIf="(data?.projectsSection)[0]?.projectName"
          class="mb-4 text-orientation"
          [ngStyle]="{
            color: data?.styleSettings?.themeColor
          }"
        >
          PROJECTS
        </h6>
      </div>
      <div
        class="col-lg-9 section-right"
        [ngStyle]="{
          'border-left-color': data?.styleSettings?.themeColor
        }"
      >
        <ng-container *ngFor="let project of data?.projectsSection">
          <h5 class="text-dark-color text-medium">
            {{ project?.projectName }}
          </h5>
          <p class="text-light-color mb-16">
            {{ project?.role }} | {{ project?.startDate }} -
            {{ project?.endDate }}
          </p>

          <p class="text-dark-color">
            {{ project?.summary }}
          </p>

          <ul>
            <li *ngIf="project?.point1">{{ project?.point1 }}</li>
            <li *ngIf="project?.point2">{{ project?.point2 }}</li>
            <li *ngIf="project?.point3">{{ project?.point3 }}</li>
          </ul>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <h6
          *ngIf="(data?.projectsSection)[0]?.projectName"
          class="mb-4 text-orientation"
          [ngStyle]="{
            color: data?.styleSettings?.themeColor,
            'border-bottom-color': data?.styleSettings?.themeColor
          }"
        >
          SKILLS
        </h6>
      </div>
      <div
        class="col-lg-9 section-right"
        [ngStyle]="{
          'border-left-color': data?.styleSettings?.themeColor
        }"
      >
        <ul class="skill-list">
          <ng-container *ngFor="let skill of data?.skillsSection">
            <li *ngIf="skill?.skillName">
              {{ skill?.skillName }}
            </li>
          </ng-container>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <h6
          *ngIf="(data?.languagesSection)[0]?.languageName"
          class="mb-4 text-orientation"
          [ngStyle]="{
            color: data?.styleSettings?.themeColor,
            'border-bottom-color': data?.styleSettings?.themeColor
          }"
        >
          LANGUAGES
        </h6>
      </div>
      <div
        class="col-lg-9 section-right"
        [ngStyle]="{
          'border-left-color': data?.styleSettings?.themeColor
        }"
      >
        <div class="row">
          <ng-container *ngFor="let language of data?.languagesSection">
            <div class="col-lg-4 col-xs-12 col-sm-4">
              <span class="d-block"> {{ language?.languageName }}</span>
              <span class="d-block text-extra-light-color">{{
                language?.proficiency
              }}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <h6
          *ngIf="(data?.awardsSection)[0]?.awardName"
          class="mb-4 text-orientation"
          [ngStyle]="{
            color: data?.styleSettings?.themeColor,
            'border-bottom-color': data?.styleSettings?.themeColor
          }"
        >
          AWARDS
        </h6>
      </div>
      <div
        class="col-lg-9 section-right"
        [ngStyle]="{
          'border-left-color': data?.styleSettings?.themeColor
        }"
      >
        <ng-container *ngFor="let award of data?.awardsSection">
          <div class="mb-4">
            <h5 class="d-block text-medium">{{ award?.awardName }}</h5>
            <span class="d-block text-extra-light-color mb-4">{{
              award?.awardDate
            }}</span>
            <span class="d-block text-normal">{{ award?.summary }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
