.dialog {
  position: fixed;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(-50%);
  z-index: 9000;
  overflow: auto;
  margin: 0 auto;
  background: #fff;
  height: 80vh;
  width: 80vw;
  opacity: 1;
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.1),;
  background: #fff;
  padding: 1.5rem;
  border-radius: 0.25rem;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #212121;
  opacity: 0.5;
  z-index: 8000;
}
