.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9000;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  background: #fff;
  min-height: 60vh;
  min-width: 60vw;
  max-height: 80vh;
  max-width: 60vw;
  opacity: 1;
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 1.5rem;
  animation: fadeIn 0.3s ease;
  border-radius: 0.25rem;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #212121;
  opacity: 0.5;
  z-index: 8000;
}

.dialog-close-btn {
  z-index: 9000;
  position: fixed;
  width: 2rem;
  height: 2rem;
  outline: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1680px) {
  .dialog {
    min-height: 80vh;
    min-width: 80vw;
  }
}

@media (max-width: 640px) {
  .dialog {
    min-height: 100vh;
    min-width: 100vw;
    border-radius: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
  }
}
