<div class="template-container template-modern">
  <div class="template-content">
    <div class="row mb-4">
      <div class="col">
        <h2 class="text-dark-color text-bold" *ngIf="data?.aboutSection">
          {{ (data?.aboutSection)[0]?.firstName }}
          {{ (data?.aboutSection)[0]?.lastName }}
        </h2>
        <p class="text-light-color">Frontend Developer</p>

        <p class="text-light-color">
          Bangalore, Karnataka | www.nitinnair.com | nitinnair@gmail.co |
          9876543210
        </p>
        <p class="text-dark-color">
          I’m a multi-disciplined artist and problem solver in design and
          photography with over 11 years of industry experience working to
          develop brands through effective visual communication and intuitive
          experiences.
        </p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <h6
          class="mb-4"
          [ngStyle]="{
            'color': data?.styleSettings?.cvSectionTextColor
          }"
        >
          WORK EXPERIENCE
        </h6>

        <h3 class="text-dark-color text-bold">Google Inc.</h3>
        <p class="text-light-color mb-16">
          Frontend Developer | Aug, 2016 - Sep, 2018
        </p>

        <p class="text-dark-color">
          I’m a multi-disciplined artist and problem solver in design and
          photography with over 11 years of industry experience working to
          develop brands through effective visual communication and intuitive
          experiences.
        </p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <h3 class="text-dark-color text-bold">Google Inc.</h3>
        <p class="text-light-color">
          Frontend Developer | Aug, 2016 - Sep, 2018
        </p>

        <p class="text-dark-color">
          I’m a multi-disciplined artist and problem solver in design and
          photography with over 11 years of industry experience working to
          develop brands through effective visual communication and intuitive
          experiences.
        </p>

        <ul class="">
          <li>
            Lead formalizing the design process and implementing new design
            systems and software to bring a consistent visual language to
            various new B2C experiences
          </li>
          <li>Champion and practice a holistic UX process</li>
          <li>
            Lead conceptual planning for driving the end-to-end user experience
            ensuring that EXPRESS builds the minimal viable product
          </li>
        </ul>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <h6
          class="mb-4"
          [ngStyle]="{
            'color': data?.styleSettings?.cvSectionTextColor
          }"
        >
          EDUCATION
        </h6>

        <h3 class="text-dark-color text-bold">Harvard University</h3>
        <p class="text-light-color">
          Bachelor of Design & Technology | Aug, 2012 - Sep, 2016
        </p>

        <p class="text-dark-color">
          I’m a multi-disciplined artist and problem solver in design and
          photography with over 11 years of industry experience working to
          develop brands through effective visual communication and intuitive
          experiences.
        </p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <h6
          class="mb-4"
          [ngStyle]="{
            'color': data?.styleSettings?.cvSectionTextColor
          }"
        >
          SKILLS
        </h6>

        <ul class="skill-list">
          <li>Angular 2+</li>
          <li>HTML5 & CSS3</li>
          <li>Figma</li>
        </ul>
      </div>
    </div>
  </div>
</div>
