.custom-input {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #212121;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-textarea {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #212121;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  resize: none;
  overflow: auto;
  height: 10rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.custom-input::-ms-expand,
.custom-textarea::-ms-expand {
  background-color: transparent;
  border: 0;
}
.custom-input:focus,
.custom-textarea:focus {
  color: #212121;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}
.custom-input::-webkit-input-placeholder,
.custom-textarea::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}
.custom-input::-moz-placeholder,
.custom-textarea::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.custom-input:-ms-input-placeholder,
.custom-textarea:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.custom-input::-ms-input-placeholder,
.custom-textarea::-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.custom-input::placeholder,
.custom-textarea::placeholder {
  color: #999;
  opacity: 1;
}

.width-50 {
  width: 50%;
}
.width-100 {
  width: 100%;
}

.text-count {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 500;
  font-weight: normal;
  font-size: 0.875rem;
}
.test-link {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 500;
  font-weight: normal;
  font-size: 0.875rem;
  cursor: pointer;
}
