<div class="template-container template-modern">
  <div class="template-content">
    <div class="row">
      <div class="col">
        <h1>
          {{ (data?.aboutSection)[0]?.firstName | uppercase }}
          {{ (data?.aboutSection)[0]?.lastName | uppercase }}
        </h1>
        <p class="text-light-color">
          {{ (data?.aboutSection)[0]?.jobTitle }}
        </p>
        <p class="text-light-color">
          {{ (data?.aboutSection)[0]?.summary }}
        </p>
      </div>
    </div>

    <hr />

    <div class="row pt-4 mb-4">
      <div class="col-lg-8">
        <h6
          *ngIf="(data?.workExperienceSection)[0]?.employerName"
          class="mb-4 text-normal"
          [ngStyle]="{
            color: data?.styleSettings?.themeColor
          }"
        >
          WORK EXPERIENCE
        </h6>

        <ng-container *ngFor="let employer of data?.workExperienceSection">
          <h5 class="pt-4 text-dark-color text-medium">
            {{ employer?.employerName }}
          </h5>
          <p class="text-light-color mb-16">
            {{ employer?.jobTitle
            }}<span *ngIf="employer?.startDate">{{ employer?.startDate }}</span>
            <span *ngIf="employer?.endDate"
              >|&nbsp;{{ employer?.endDate }}</span
            >
            <span *ngIf="employer?.employmentType"
              >|&nbsp;{{ employer?.employmentType }}</span
            >
          </p>

          <p class="text-dark-color" *ngIf="employer?.summary?.length">
            {{ employer?.summary }}
          </p>
        </ng-container>

        <div class="clearfix"></div>

        <h6
          *ngIf="(data?.educationSection)[0]?.schoolName"
          class="pt-4 mb-4 text-normal"
          [ngStyle]="{
            color: data?.styleSettings?.themeColor
          }"
        >
          EDUCATION
        </h6>

        <ng-container *ngFor="let school of data?.educationSection">
          <h5 class="text-dark-color text-medium">
            {{ school?.schoolName }}
          </h5>
          <p class="text-light-color mb-16">
            {{ school?.degree }}
            <span *ngIf="school?.startDate">| {{ school?.startDate }}</span>
            <span *ngIf="school?.endDate">-&nbsp;{{ school?.endDate }}</span>
          </p>

          <p class="text-dark-color" *ngIf="school?.summary?.length">
            {{ school?.summary }}
          </p>
        </ng-container>

        <div class="clearfix"></div>

        <h6
          *ngIf="(data?.projectsSection)[0]?.projectName"
          class="pt-4 mb-4 text-normal"
          [ngStyle]="{
            color: data?.styleSettings?.themeColor
          }"
        >
          PROJECTS
        </h6>

        <ng-container *ngFor="let project of data?.projectsSection">
          <h5 class="text-dark-color text-medium">
            {{ project?.projectName }}
          </h5>
          <p class="text-light-color mb-16">
            <span *ngIf="project?.role">{{ project?.role }}&nbsp;|</span>
            <span *ngIf="project?.startDate">{{ project?.startDate }}</span>
            <span *ngIf="project?.endDate">-&nbsp;{{ project?.endDate }}</span>
          </p>

          <p class="text-dark-color" *ngIf="project?.summary">
            {{ project?.summary }}
          </p>
        </ng-container>

        <div class="clearfix"></div>

        <h6
          *ngIf="(data?.awardsSection)[0]?.awardName"
          class="pt-4 mb-4 text-normal"
          [ngStyle]="{
            color: data?.styleSettings?.themeColor
          }"
        >
          AWARDS
        </h6>

        <ng-container *ngFor="let award of data?.awardsSection">
          <h5 class="text-dark-color text-medium">
            {{ award?.awardName }}
          </h5>
          <p class="text-light-color mb-16" *ngIf="award?.startDate">
            {{ award?.startDate }}
          </p>

          <p class="text-dark-color" *ngIf="award?.summary">
            {{ award?.summary }}
          </p>
        </ng-container>
      </div>

      <div class="col-lg-4">
        <h6
          *ngIf="(data?.aboutSection)[0]?.city"
          class="mb-4 text-normal"
          [ngStyle]="{
            color: data?.styleSettings?.themeColor
          }"
        >
          CONTACT INFO
        </h6>

        <div class="pt-4 mb-4">
          <span
            class="d-block text-extra-light-color"
            *ngIf="
              (data?.aboutSection)[0]?.city || (data?.aboutSection)[0]?.state
            "
            >Address</span
          >
          <span class="d-block"
            >{{ (data?.aboutSection)[0]?.city }}
            {{ (data?.aboutSection)[0]?.state }}
          </span>
        </div>

        <div class="mb-4">
          <span
            class="d-block text-extra-light-color"
            *ngIf="(data?.aboutSection)[0]?.emailId"
            >Email</span
          >
          <span class="d-block">{{ (data?.aboutSection)[0]?.emailId }}</span>
        </div>

        <div class="mb-4">
          <span
            class="d-block text-extra-light-color"
            *ngIf="(data?.aboutSection)[0]?.website"
            >Website</span
          >
          <span class="d-block"> {{ (data?.aboutSection)[0]?.website }}</span>
        </div>

        <div class="mb-4">
          <span
            class="d-block text-extra-light-color"
            *ngIf="(data?.aboutSection)[0]?.phoneNumber"
            >Phone number</span
          >
          <span class="d-block">
            {{ (data?.aboutSection)[0]?.phoneNumber }}
          </span>
        </div>
        <h6
          *ngIf="(data?.skillsSection)[0]?.skillName"
          class="pt-4 mb-4 text-normal"
          [ngStyle]="{
            color: data?.styleSettings?.themeColor
          }"
        >
          SKILLS
        </h6>

        <ul class="skill-list">
          <ng-container *ngFor="let skill of data?.skillsSection">
            <li *ngIf="skill?.skillName">
              {{ skill?.skillName }}
            </li>
          </ng-container>
        </ul>

        <h6
          *ngIf="(data?.languagesSection)[0]?.languageName"
          class="pt-4 mb-4 text-normal"
          [ngStyle]="{
            color: data?.styleSettings?.themeColor
          }"
        >
          LANGUAGES
        </h6>

        <ng-container *ngFor="let language of data?.languagesSection">
          <div class="mb-4">
            <span class="d-block"> {{ language?.languageName }}</span>
            <span class="d-block text-extra-light-color">{{
              language?.proficiency
            }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
