<div class="template-container template-modern">
  <div class="template-content">
    <div class="row">
      <div class="col">
        <h1>
          {{ (data?.aboutSection)[0]?.firstName | uppercase }}
          {{ (data?.aboutSection)[0]?.lastName | uppercase }}
        </h1>
        <p class="text-light-color">
          {{ (data?.aboutSection)[0]?.jobTitle }}
        </p>
        <p class="text-light-color">
          {{ (data?.aboutSection)[0]?.summary }}
        </p>
      </div>
    </div>

    <hr />

    <div class="row pt-4 mb-4">
      <div class="col-lg-8">
        <h6
          class="mb-4 text-normal"
          [ngStyle]="{
            color: data?.styleSettings?.cvSectionTextColor
          }"
        >
          WORK EXPERIENCE
        </h6>

        <ng-container *ngFor="let employer of data?.workExperienceSection">
          <h5 class="pt-4 text-dark-color text-medium">
            {{ employer?.employerName }}
          </h5>
          <p class="text-light-color mb-16">
            {{ employer?.jobTitle }} | {{ employer?.startDate }} -
            {{ employer?.endDate }} | {{ employer?.employmentType }}
          </p>

          <p class="text-dark-color">
            {{ employer?.summary }}
          </p>
        </ng-container>

        <div class="clearfix"></div>

        <h6
          class="pt-4 mb-4 text-normal"
          [ngStyle]="{
            color: data?.styleSettings?.cvSectionTextColor
          }"
        >
          EDUCATION
        </h6>

        <ng-container *ngFor="let school of data?.educationSection">
          <h5 class="text-dark-color text-medium">
            {{ school?.schoolName }}
          </h5>
          <p class="text-light-color mb-16">
            {{ school?.degree }} | {{ school?.startDate }} -
            {{ school?.endDate }}
          </p>

          <p class="text-dark-color">
            {{ school?.summary }}
          </p>
        </ng-container>

        <div class="clearfix"></div>

        <h6
          class="pt-4 mb-4 text-normal"
          [ngStyle]="{
            color: data?.styleSettings?.cvSectionTextColor
          }"
        >
          PROJECTS
        </h6>

        <ng-container *ngFor="let project of data?.projectsSection">
          <h5 class="text-dark-color text-medium">
            {{ project?.projectName }}
          </h5>
          <p class="text-light-color mb-16">
            {{ project?.role }} | {{ project?.startDate }} -
            {{ project?.endDate }}
          </p>

          <p class="text-dark-color">
            {{ project?.summary }}
          </p>
        </ng-container>
      </div>

      <div class="col-lg-4">
        <h6
          class="pt-4 mb-4 text-normal"
          [ngStyle]="{
            color: data?.styleSettings?.cvSectionTextColor
          }"
        >
          CONTACT INFO
        </h6>

        <div class="pt-4 mb-4">
          <span class="d-block text-extra-light-color">Address</span>
          <span class="d-block"
            >{{ (data?.aboutSection)[0]?.city }},
            {{ (data?.aboutSection)[0]?.state }}
          </span>
        </div>

        <div class="mb-4">
          <span class="d-block text-extra-light-color">Email</span>
          <span class="d-block">{{ (data?.aboutSection)[0]?.emailId }}</span>
        </div>

        <div class="mb-4">
          <span class="d-block text-extra-light-color">Website</span>
          <span class="d-block"> {{ (data?.aboutSection)[0]?.website }}</span>
        </div>

        <div class="mb-4">
          <span class="d-block text-extra-light-color">Phone number</span>
          <span class="d-block">
            {{ (data?.aboutSection)[0]?.phoneNumber }}
          </span>
        </div>
        <h6
          class="pt-4 mb-4 text-normal"
          [ngStyle]="{
            color: data?.styleSettings?.cvSectionTextColor
          }"
        >
          SKILLS
        </h6>

        <ul class="skill-list">
          <li *ngFor="let skill of data?.skillsSection">
            {{ skill?.skillName }}
          </li>
        </ul>

        <h6
          class="pt-4 mb-4 text-normal"
          [ngStyle]="{
            color: data?.styleSettings?.cvSectionTextColor
          }"
        >
          LANGUAGES
        </h6>

        <ng-container *ngFor="let language of data?.languagesSection">
          <div class="mb-4">
            <span class="d-block"> {{ language?.languageName }}</span>
            <span class="d-block text-extra-light-color">{{
              language?.proficiency
            }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
