@font-face {
  font-family: "Circular Std";
  src: url("./assets/fonts/normal/CircularStd.ttf") format("ttf"),
    url("./assets/fonts/normal/CircularStd.woff") format("woff"),
    url("./assets/fonts/normal/CircularStd.woff2") format("woff2");
  font-weight: 400;
  font-style: 400;
}

