<div class="container sub-container" style="padding: 10rem 0;">
  <div class="row mb-4">
    <div class="col">
      <h5 class="card-title">Download Options</h5>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <button class="btn btn-outline-primary mr-4">Download as PDF</button>
      <button class="btn btn-outline-primary">Download as DOCX</button>
    </div>
  </div>

  <hr style="margin: 3rem 0;" />

  <h5 class="card-title">CV Settings</h5>
  <form [formGroup]="cvSettingsForm" (ngSubmit)="onSubmit()">
    <div class="row mb-4">
      <div class="col">
        Select any of the below options for your Online CV permissions.
      </div>
    </div>
    <div class="row pt-4 mb-4">
      <div class="col-lg-4">
        <label
          class="radio-btn"
          [ngStyle]="{
            'border-bottom-color':
              cvSettingsForm?.controls?.cvPermissionType?.value == 'private'
                ? '#28a745'
                : '#EEE'
          }"
          >Private
          <input
            type="radio"
            formControlName="cvPermissionType"
            value="private"
          />
          <span class="checkmark"></span>
          <p class="card-text text-light-color mt-2 text-small">
            Select this if you want to hide your CV. Your CV will not be visible
            during Google Search.
          </p>
        </label>
      </div>
      <div class="col-lg-4">
        <label
          class="radio-btn"
          [ngStyle]="{
            'border-bottom-color':
              cvSettingsForm?.controls?.cvPermissionType?.value == 'public'
                ? '#28a745'
                : '#EEE'
          }"
          >Public
          <input
            type="radio"
            formControlName="cvPermissionType"
            value="public"
          />
          <span class="checkmark"></span>
          <p class="card-text text-light-color mt-2 text-small">
            Select this if you want to showcase your CV online. Your CV will be
            visible during Google Search.
          </p>
        </label>
      </div>
    </div>

    <div class="row pt-4 mb-4">
      <div class="col-lg-4">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            aria-describedby="customURL"
            placeholder="Enter Custom URL"
            formControlName="cvCustomUrl"
          />
        </div>
      </div>
    </div>

    <div class="row pt-4 mb-4">
      <div class="col">
        <label class="switch mr-4">
          <input type="checkbox" formControlName="hideBranding" />
          <span class="slider round"></span>
        </label>
        <span>Hide Branding</span>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <label class="switch mr-4">
          <input type="checkbox" formControlName="hideEmailAndPhone" />
          <span class="slider round"></span>
        </label>
        <span>Hide Email & Phone number</span>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col">
        <button class="btn btn-success">
          <span *ngIf="!loader">
            <img class="btn-icon-left" src="assets/icons/save.svg" />Save
            Settings
          </span>

          <ng-container *ngIf="loader">
            <div class="spinner-border text-light btn-icon-left" role="status">
              <span class="sr-only">Saving...</span>
            </div>

            <span>Saving...</span>
          </ng-container>
        </button>
      </div>
    </div>
  </form>
</div>
