.bg {
  background-color: #0069db;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  min-height: 80vh;
  width: 100vw;
  position: relative;
  display: block;

  h1 {
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
    max-width: 60%;
  }

  .text {
    font-size: 1.2rem !important;
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 60%;
    font-weight: 400;
  }
}

.hero-image {
  margin: 4rem 0 2rem;
  width: 20rem;
  height: 10rem;
}

.bg2 {
  background-color: #fff;
}

.bg3 {
  background-color: #f1f7f9;
}

.footer {
  background-color: #222831;
  height: auto;
  padding: 6rem 0;
  min-height: 20vh;
  padding: 4rem 0;
}

.page-section {
  padding: 6rem 0;
}

p {
  font-size: 1.2rem !important;
}

.home-image {
  width: 100%;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 4px 64px rgba(0, 0, 0, 0.2);
  margin: 4rem 0;
}

@media (max-width: 640px) {
  h1 {
    font-size: 1.5rem;
  }

  .bg .text {
    font-size: 1.1rem !important;
    max-width: 96%;
  }

  .bg h1 {
    max-width: 96%;
  }
}

.navbar {
  height: 4rem;
  background-color: #0069db;
  position: fixed;
  display: block;
  z-index: 1000;
  border-bottom: 1px solid #fff;
}

.nav-menu {
  display: inline-block;

  li {
    list-style-type: none;
    display: inline-block;
    color: #fff;
    padding: 1.25rem;
  }
}

.footer-menu {
  margin: 1rem 0;
  list-style-type: none;
  padding: 0;

  .footer-item {
    margin-bottom: 0.5rem;
    color: #ccc;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}

.text-alignment {
  text-align: right;
}

.banner {
  background-color: #0069db;
  padding: 4rem 1rem;
}

@media screen and (max-width: 1024px) {
  .text-alignment {
    text-align: left;
  }
}

.feature-card {
  height: 280px;
  border: 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(160, 160, 160, 0.1);
  h4 {
    color: #0069db;
  }
}

.icon-container {
  width: 4rem;
  height: 4rem;
  margin-bottom: 2rem;
}

.section-image {
  height: 15rem;
  width: 15rem;
  margin: 1rem 0;
}
