.bg {
  background-color: #0747a6;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  overflow: auto;
  height: 90vh;
  width: 100vw;
}

h1 {
  margin: 2rem auto;
  margin-top: 10rem;
  color: #fff;
  text-align: center;
  max-width: 60%;
}

.text {
  color: #fff;
  font-size: 1.2rem !important;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 60%;
}
