<div class="container-fluid">
  <div class="container"></div>
</div>

<div class="container-fluid bg">
  <div class="container sub-container page-section">
    <div class="row">
      <div class="col text-center">
        <h1 class="text-white text-bold">
          Create your professional presence online.
        </h1>
        <div class="text text-white">
          We will help you create your web resume in 5 minutes. Explore
          different templates to help your create magnificent resumes.
        </div>
        <button
          class="btn btn-success text-bold mr-4"
          (click)="navigateToRoute('/auth/signup')"
        >
          Get Started<img
            class="btn-icon-right icon"
            src="assets/icons/right-arrow.svg"
          />
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg bg2">
  <div class="container sub-container page-section">
    <div class="row">
      <div class="col text-center">
        <h1 class="text-dark">
          Get started with professionally designed templates.
        </h1>
        <div class="text">
          We will help you create your web resume in 5 minutes. Explore
          different templates to help your create magnificent resumes.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg bg3">
  <div class="container sub-container page-section">
    <div class="row">
      <div class="col text-center">
        <h1 class="text-white">
          Features to help you create effective resume effortlessly
        </h1>
        <div class="text text-white">
          We will help you create your web resume in 5 minutes. Explore
          different templates to help your create magnificent resumes.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg bg2">
  <div class="container sub-container page-section">
    <div class="row">
      <div class="col text-center">
        <h1 class="text-dark">
          Simple & powerful resume builder
        </h1>
        <div class="text text-dark">
          We will help you create your web resume in 5 minutes. Explore
          different templates to help your create magnificent resumes.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg bg3">
  <div class="container sub-container page-section">
    <div class="row">
      <div class="col text-center">
        <h1 class="text-white">
          Have questions?
        </h1>
        <div class="text text-white">
          We will help you create your web resume in 5 minutes. Explore
          different templates to help your create magnificent resumes.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg footer">
  <div class="container sub-container page-section">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
</div>
