<app-page-navigation></app-page-navigation>

<div id="home" class="container-fluid bg bg2">
  <div class="container sub-container page-section">
    <div class="row">
      <div class="col text-center">
        <img class="section-image mb-4" src="assets/images/resume.svg" />
        <h1 class="text-primary">
          Edit. Preview. Download.
        </h1>
        <div class="text text-light-color">
          Easily create your web resume in 5 minutes.<br />Explore different templates to create magnificent resumes.
        </div>
        <ng-container *ngIf="!isLoggedIn">
          <button class="btn btn-success mr-4" (click)="navigateToRoute('/auth/signup')">
            Create Resume
          </button>
        </ng-container>

        <ng-container *ngIf="isLoggedIn">
          <button class="btn btn-success mr-4" (click)="navigateToRoute('/dashboard')">
            Go to dashboard
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div id="features" class="container-fluid bg bg3">
  <div class="container sub-container page-section">
    <div class="row mb-4">
      <div class="col text-center">
        <h1 class="text-primary">
          Simple Features
        </h1>
        <div class="text text-light-color">
          We will help you create your web resume in 5 minutes.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 text-center">
        <div class="card feature-card">
          <div class="card-body text-left">
            <div class="icon-container">
              <img src="assets/icons/color.png" />
            </div>
            <h5>Easy Customization</h5>
            <div class="text-light-color">
              Modify template and theme colors to suit your professional resume needs.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="card feature-card">
          <div class="card-body text-left">
            <div class="icon-container">
              <img src="assets/icons/cloud.png" />
            </div>
            <h5>Shareable Links</h5>
            <div class="text-light-color">
              Provides unique short link for your web resume that you can share with anyone easily.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="card feature-card">
          <div class="card-body text-left">
            <div class="icon-container">
              <img src="assets/icons/pdf.png" />
            </div>
            <h5>Print PDF</h5>
            <div class="text-light-color">
              Easily use the browser's in-built print feature to generate your resume as PDF.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="templates" class="container-fluid bg">
  <div class="container sub-container page-section">
    <div class="row">
      <div class="col text-center">
        <h1 class="text-white">
          Professional Templates.
        </h1>
        <div class="text text-white">
          Choose your preferred color & theme, to craft your professional resume.
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-lg-6 col-md-12">
        <img class="template-image" src="assets/images/oslo.png" />
      </div>
      <div class="col-lg-6 col-md-12">
        <img class="template-image" src="assets/images/stockholm.png" />
      </div>
    </div>

    <div class="pt-4 text-center">
      <button class="btn btn-light text-primary text-bold" (click)="navigateToRoute('/auth/signup')">
        Get Started
      </button>
    </div>
  </div>
</div>

<div class="container-fluid bg bg2">
  <div class="container sub-container page-section">
    <div class="row">
      <div class="col text-center">
        <h1 class="text-primary">
          Powerful Editor
        </h1>
        <div class="text text-dark">
          Customize the number of sections you want based on your preference.
        </div>
      </div>
    </div>

    <div class="row pt-4">
      <video class="editor-video" controls muted preload="metadata">
        <source src="" />
      </video>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="container-fluid bg bg3" id="faq">
  <div class="container sub-container page-section">
    <div class="row mb-4">
      <div class="col text-center">
        <h1 class="text-primary">
          Have questions?
        </h1>
        <div class="text text-light-color">
          Easily find answers to your most common questions.
        </div>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col text-left">
        <div class="accordion">
          <div class="accordion-item">
            <div class="accordion-header">
              How to create multiple shareable links to send?
              <div class="float-right">
                <span class="material-icons accordion-icon">
                  expand_more
                </span>
              </div>
            </div>

            <div class="accordion-text text-light-color">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Sed blandit libero volutpat sed cras ornare arcu dui.
            </div>
          </div>

          <div class="accordion-item">
            <div class="accordion-header">
              In how many days private resume links expire?
              <div class="float-right">
                <span class="material-icons accordion-icon">
                  expand_more
                </span>
              </div>
            </div>

            <div class="accordion-text text-light-color">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Sed blandit libero volutpat sed cras ornare arcu dui.
            </div>
          </div>

          <div class="accordion-item">
            <div class="accordion-header">
              Is my data secure?
              <div class="float-right">
                <span class="material-icons accordion-icon">
                  expand_more
                </span>
              </div>
            </div>

            <div class="accordion-text text-light-color">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Sed blandit libero volutpat sed cras ornare arcu dui.
            </div>
          </div>

          <div class="accordion-item">
            <div class="accordion-header">
              How many private resumes I can create?
              <div class="float-right">
                <span class="material-icons accordion-icon">
                  expand_more
                </span>
              </div>
            </div>

            <div class="accordion-text text-light-color">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Sed blandit libero volutpat sed cras ornare arcu dui.
            </div>
          </div>

          <div class="accordion-item">
            <div class="accordion-header">
              How to deactivate or hide my public resume?
              <div class="float-right">
                <span class="material-icons accordion-icon">
                  expand_more
                </span>
              </div>
            </div>

            <div class="accordion-text text-light-color">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Sed blandit libero volutpat sed cras ornare arcu dui.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg">
    <div class="container sub-container page-section">
      <div class="row">
        <div class="col text-center">
          <img class="section-image mb-4" src="assets/images/resume.svg" />
          <h1 class="text-white pt-4 mb-4">
            Get started today!
          </h1>
          <div class="pt-4">
            <button class="btn btn-light text-bold text-primary" (click)="navigateToRoute('/auth/signup')">
              Create Resume
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid footer">
    <div class="container sub-container">
      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="logo-container">
            <img class="logo" src="assets/images/logo-footer.svg" />
          </div>

          <div class="mb-4">
            <p style="color: #ccc;">
              The best resume builder in town right now. <br />
              Explore templates, customize theme and more...
            </p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6 col-xs-6 col-sm-6 mb-4 text-alignment">
              <p class="text-extra-light-color">MENU</p>
              <ul class="footer-menu">
                <li class="footer-item">
                  Features
                </li>
                <li class="footer-item">
                  Examples
                </li>
                <li class="footer-item">
                  About
                </li>
                <li class="footer-item">
                  Roadmap
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-xs-6 col-sm-6 mb-4 text-alignment">
              <p class="text-extra-light-color">SOCIAL</p>
              <ul class="footer-menu">
                <li class="footer-item">
                  LinkedIn
                </li>
                <li class="footer-item">
                  Twitter
                </li>
                <li class="footer-item">
                  Facebook
                </li>
                <li class="footer-item">
                  Instagram
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col text-left">
          <p style="color: #ccc;">
            &copy; SimpleCV &bull; {{ currentYear }} &bull; Made In India<span class="ml-2"><img src="assets/icons/india.png" /></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
