<div class="container-fluid bg">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>Create your professional presence online.</h1>
        <div class="text">
          We will help you create your web resume in 5 minutes. Explore
          different templates to help your create magnificent resumes.
        </div>
        <button
          class="btn btn-success text-bold"
          (click)="navigateToDashboard()"
        >
          Get Started&nbsp;<img
            class="icon"
            src="assets/icons/right-arrow.svg"
          />
        </button>
      </div>
    </div>
  </div>
</div>
