<div class="container" style="padding: 10rem 0;">
  <div class="row mb-4">
    <div class="col">
      CV/Resume Download options
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <button class="btn btn-outline-primary mr-4">Download as PDF</button>
      <button class="btn btn-outline-primary">Download as DOCX</button>
    </div>
  </div>

  <hr style="margin: 3rem 0;" />

  <div class="row mb-4">
    <div class="col">
      CV settings
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <label class="switch mr-4">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
      <span>Hide Branding</span>
    </div>
  </div>

  <hr style="margin: 3rem 0;" />

  <div class="row mb-4">
    <div class="col">
      Select any of the below options for your Online CV permissions.
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-lg-4">
      <div
        class="card"
        style="background-color: rgba(40, 167, 69, 0.1); border: 2px solid #28a745;"
      >
        <div class="card-body">
          <div class="card-title text-bold" style="color: #28a745;">
            Private
          </div>
          <p class="card-text text-light-color">
            Select this if you want to hide your CV. Your CV will not be visible
            during Google Search.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="card-title">Public</div>
          <p class="card-text text-light-color">
            Select this if you want to showcase your CV online. Your CV will be
            visible during Google Search.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="card-title">Secret</div>
          <p class="card-text text-light-color">
            Select this if you want to send your CV someone only. Your CV will
            not be visible during Google Search.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
