<div
  class="side-navigation animate mobile-menu"
  [ngStyle]="{ transform: 'translateX(' + translateVal + 'rem)' }"
>
  <div class="close-menu" (click)="closeMenu()">
    <img src="assets/icons/close-white.svg" />
  </div>
  <ul class="navigation-list">
    <ng-container *ngFor="let route of sideNavigationRoutes">
      <li
        class="navigation-item"
        routerLinkActive="side-navigation-active"
        (click)="closeMenu()"
      >
        <a class="navigation-link" [routerLink]="route?.routeLink">
          <img class="icon navigation-icon" [src]="route?.routeIcon" />

          <span class="navigation-text">{{ route?.routeLabel }}</span>
        </a>
      </li>
    </ng-container>

    <li class="navigation-item btn-logout" role="button" (click)="logout()">
      <a class="navigation-link">
        <img class="icon navigation-icon" src="assets/icons/logout.svg" />
        <span class="navigation-text">Logout</span>
      </a>
    </li>
  </ul>
</div>

<div *ngIf="translateVal == 0" class="menu-overlay mobile-menu" (click)="closeMenu()"></div>

<div class="side-navigation desktop-menu">
  <div class="close-menu" (click)="closeMenu()">
    <img src="assets/icons/close-white.svg" />
  </div>
  <ul class="navigation-list">
    <li
      class="navigation-item"
      routerLinkActive="side-navigation-active"
      *ngFor="let route of sideNavigationRoutes"
    >
      <a class="navigation-link" [routerLink]="route?.routeLink">
        <img class="icon navigation-icon" [src]="route?.routeIcon" />

        <span class="navigation-text">{{ route?.routeLabel }}</span>
      </a>
    </li>
    <li class="navigation-item btn-logout" role="button" (click)="logout()">
      <a class="navigation-link">
        <img class="icon navigation-icon" src="assets/icons/logout.svg" />
        <span class="navigation-text">Logout</span>
      </a>
    </li>
  </ul>
</div>

<div class="toggle-menu" (click)="openMenu()">
  <img src="assets/icons/menu.svg" />
</div>
